button {
  color: white !important;
}

.materialui-daterange-picker-makeStyles-filled-171 {
  background: #7AA734;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.RaLogin-main-1 {
  background: #7AA734 !important;
}

.RaLogin-main-41 {
  background-color: #7AA734 !important;
}

.header {
  background-color: #7AA734;
  margin-top: -8px;
  padding: 16px 0;
}

.header h1 {
  color: white;
  margin-left: 2rem;
}

.my-button {
  color: white !important;
  width: fit-content;
  margin: 2rem !important;
  font-weight: bold !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.my-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 0;
}

.my-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -2rem -0.48rem;
}

.MuiFormLabel-root {
  font-size: 1.1rem;
}

#test-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 650px;
}

#test-table td, #test-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#test-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#test-table tr:hover {
  background-color: #ddd;
}

#test-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7AA734;
  color: white;
}

#my-popover-button {
  background-color: '#F1F1EF';
  color: '#6C6F74';
  text-align: 'left';
  width: '240px';
  display: 'flex';
  flex-direction: 'column';
  padding: '11px 30px 11px 18px';
  font-weight: '500';
  position: 'relative';
}