.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.RaLogin-main-1 {
  background: #61dafb !important;
}

.header {
  background-color: #7AA734;
  margin-top: -8px;
}

.header h1 {
  color: white;
  margin-left: 2rem;
}

.my-button {
  color: white !important;
  width: fit-content;
  margin: 2rem !important;
  font-weight: bold !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.my-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 0;
}